In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
data = 'finaldata.csv'
data_df = pd.read_csv(data, encoding="ISO-8859-1")
data_df['Type'] = np.where(data_df['PlayType'] == "PASS", 0, 1)
data_df = data_df.drop(columns = ['PlayType', "OffenseTeam"])
data_df

        Down  ToGo  YardLine  Yards sucess  Type
0          2    13        17      0     no     0
1          1    10        19     -2     no     0
2          2    10        20     -9     no     0
3          2    17        62     -8     no     0
4          2     1        99      1     no     1
...      ...   ...       ...    ...    ...   ...
233271     2     5        42     -1     no     1
233272     1    10        22      0     no     1
233273     1    15        40      3     no     1
233274     1    10        79      0     no     0
233275     4     1        79     21    yes     1

[233276 rows x 6 columns]

In [3]:
# Assign X (data) and y (target)
X = data_df.drop("sucess", axis=1)
y = data_df["sucess"]
print(X.shape, y.shape)

(233276, 5) (233276,)

In [4]:
X

        Down  ToGo  YardLine  Yards  Type
0          2    13        17      0     0
1          1    10        19     -2     0
2          2    10        20     -9     0
3          2    17        62     -8     0
4          2     1        99      1     1
...      ...   ...       ...    ...   ...
233271     2     5        42     -1     1
233272     1    10        22      0     1
233273     1    15        40      3     1
233274     1    10        79      0     0
233275     4     1        79     21     1

[233276 rows x 5 columns]

In [5]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

187909     no
86528      no
66786      no
67610      no
39756      no
         ...
132056     no
53343      no
218092     no
157903    yes
160130     no
Name: sucess, Length: 58319, dtype: object

In [6]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [7]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 1.0

In [9]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['no' 'no' 'no' 'no' 'no' 'yes' 'no' 'no' 'no' 'yes']
First 10 Actual labels: ['no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes']

In [10]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

      Prediction Actual
0             no     no
1             no     no
2             no     no
3             no     no
4             no     no
...          ...    ...
58314         no     no
58315         no     no
58316         no     no
58317        yes    yes
58318         no     no

[58319 rows x 2 columns]