In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
data = 'finaldata.csv'
data_df = pd.read_csv(data, encoding="ISO-8859-1")
original_df = data_df
original_df

       OffenseTeam  Down  ToGo  YardLine  Yards PlayType sucess
0              MIN     2    13        17      0     PASS     no
1              CHI     1    10        19     -2     PASS     no
2              HOU     2    10        20     -9     PASS     no
3              BAL     2    17        62     -8     PASS     no
4               NE     2     1        99      1     RUSH     no
...            ...   ...   ...       ...    ...      ...    ...
233271         OAK     2     5        42     -1     RUSH     no
233272         OAK     1    10        22      0     RUSH     no
233273          GB     1    15        40      3     RUSH     no
233274          TB     1    10        79      0     PASS     no
233275         HOU     4     1        79     21     RUSH    yes

[233276 rows x 7 columns]

In [3]:

data_df['Type'] = np.where(data_df['PlayType'] == "PASS", 0, 1)
data_df = data_df.drop(columns = ['Yards','PlayType', "OffenseTeam"])
data_df

        Down  ToGo  YardLine sucess  Type
0          2    13        17     no     0
1          1    10        19     no     0
2          2    10        20     no     0
3          2    17        62     no     0
4          2     1        99     no     1
...      ...   ...       ...    ...   ...
233271     2     5        42     no     1
233272     1    10        22     no     1
233273     1    15        40     no     1
233274     1    10        79     no     0
233275     4     1        79    yes     1

[233276 rows x 5 columns]

In [4]:
# Assign X (data) and y (target)
X = data_df.drop("sucess", axis=1)
y = data_df["sucess"]
print(X.shape, y.shape)

(233276, 4) (233276,)

In [5]:
X

        Down  ToGo  YardLine  Type
0          2    13        17     0
1          1    10        19     0
2          2    10        20     0
3          2    17        62     0
4          2     1        99     1
...      ...   ...       ...   ...
233271     2     5        42     1
233272     1    10        22     1
233273     1    15        40     1
233274     1    10        79     0
233275     4     1        79     1

[233276 rows x 4 columns]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7486525260492578
Testing Data Score: 0.7442000034294141

In [10]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no']
First 10 Actual labels: ['no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes']

In [11]:
test = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [12]:
p = test['Prediction']
a = test['Actual']

In [13]:
new_input = [[2,1,10,0]]

In [14]:
classifier.predict(new_input)

array(['yes'], dtype=object)

In [16]:
original_df.drop

TypeError: 'method' object is not subscriptable