In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [2]:
data = 'finaldata.csv'
data_df = pd.read_csv(data, encoding="ISO-8859-1")
data_df['Type'] = np.where(data_df['PlayType'] == "PASS", 0, 1)
data_df = data_df.drop(columns = ['Yards','PlayType', "OffenseTeam"])
data_df

        Down  ToGo  YardLine sucess  Type
0          2    13        17     no     0
1          1    10        19     no     0
2          2    10        20     no     0
3          2    17        62     no     0
4          2     1        99     no     1
...      ...   ...       ...    ...   ...
233271     2     5        42     no     1
233272     1    10        22     no     1
233273     1    15        40     no     1
233274     1    10        79     no     0
233275     4     1        79    yes     1

[233276 rows x 5 columns]

In [3]:
# Assign X (data) and y (target)
X = data_df.drop("sucess", axis=1)
y = data_df["sucess"]
print(X.shape, y.shape)

(233276, 4) (233276,)

In [4]:
X

        Down  ToGo  YardLine  Type
0          2    13        17     0
1          1    10        19     0
2          2    10        20     0
3          2    17        62     0
4          2     1        99     1
...      ...   ...       ...   ...
233271     2     5        42     1
233272     1    10        22     1
233273     1    15        40     1
233274     1    10        79     0
233275     4     1        79     1

[233276 rows x 4 columns]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [8]:
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.7486525260492578
Testing Data Score: 0.7442000034294141

In [10]:
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10]}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   ['no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no' 'no']
First 10 Actual labels: ['no', 'no', 'no', 'no', 'no', 'yes', 'no', 'no', 'no', 'yes']

In [12]:
test = pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

In [13]:
test.head(50)

   Prediction Actual
0          no     no
1          no     no
2          no     no
3          no     no
4          no     no
5          no    yes
6          no     no
7          no     no
8          no     no
9          no    yes
10         no     no
11         no     no
12         no    yes
13        yes     no
14         no    yes
15         no     no
16         no     no
17         no     no
18         no     no
19         no     no
20         no     no
21         no     no
22         no     no
23         no     no
24         no     no
25         no    yes
26        yes    yes
27         no    yes
28         no    yes
29         no     no
30         no     no
31         no     no
32         no     no
33         no     no
34         no     no
35         no     no
36         no     no
37         no     no
38         no     no
39         no     no
40         no     no
41         no     no
42         no     no
43         no     no
44         no     no
45         no     no
46         no     no
47         no     no
48         no    yes
49         no     no