In [9]:
%matplotlib inline
from sklearn import tree
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [3]:
data = 'finaldata.csv'
data_df = pd.read_csv(data, encoding="ISO-8859-1")
data_df['Type'] = np.where(data_df['PlayType'] == "PASS", 0, 1)
data_df['Outcome'] = np.where(data_df['sucess'] == "no", 0, 1)
data_df = data_df.drop(columns = ['Yards','PlayType', "OffenseTeam", 'sucess'])
data_df

        Down  ToGo  YardLine  Type  Outcome
0          2    13        17     0        0
1          1    10        19     0        0
2          2    10        20     0        0
3          2    17        62     0        0
4          2     1        99     1        0
...      ...   ...       ...   ...      ...
233271     2     5        42     1        0
233272     1    10        22     1        0
233273     1    15        40     1        0
233274     1    10        79     0        0
233275     4     1        79     1        1

[233276 rows x 5 columns]

In [5]:
target = data_df["Outcome"]
target_names = ["no", "yes"]

In [7]:
data = data_df.drop("Outcome", axis=1)
feature_names = data.columns
data.head()

   Down  ToGo  YardLine  Type
0     2    13        17     0
1     1    10        19     0
2     2    10        20     0
3     2    17        62     0
4     2     1        99     1

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [10]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.7508530667535451

In [13]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.7514189200775048

In [14]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.46146662956013434, 'YardLine'),
 (0.341719778387069, 'ToGo'),
 (0.10682496284311856, 'Type'),
 (0.08998862920967807, 'Down')]

In [21]:
new_input = [[2,2,10,0]]

In [22]:
rf.predict(new_input)

array([1])