In [38]:
import pandas as pd
import numpy as np

In [2]:
pbp2013 = 'resources/pbp-2013.csv'
pbp2014 = 'resources/pbp-2014.csv' 
pbp2015 = 'resources/pbp-2015.csv'
pbp2016 = 'resources/pbp-2016.csv'
pbp2017 = 'resources/pbp-2017.csv'
pbp2018 = 'resources/pbp-2018.csv'
pbp2019 = 'resources/pbp-2019.csv'

In [3]:
onedf = pd.read_csv(pbp2013, encoding="ISO-8859-1")
twodf = pd.read_csv(pbp2014, encoding="ISO-8859-1")
threedf = pd.read_csv(pbp2015, encoding="ISO-8859-1")
fourdf = pd.read_csv(pbp2016, encoding="ISO-8859-1")
fivedf = pd.read_csv(pbp2017, encoding="ISO-8859-1")
sixdf = pd.read_csv(pbp2018, encoding="ISO-8859-1")
sevendf = pd.read_csv(pbp2019, encoding="ISO-8859-1")

C:\Users\jamey\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (13,18,19,20,23,25,29,36,38,40) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
one = onedf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
two = twodf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
three = threedf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
four = fourdf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
five = fivedf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
six = sixdf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])
seven = sevendf.drop(columns= ['GameId','GameDate','Quarter','Minute','Second','DefenseTeam','SeriesFirstDown','NextScore','Description','TeamWin','SeasonYear','Formation','IsRush','IsPass','IsIncomplete','IsTouchdown','PassType','IsSack','IsChallenge','IsChallengeReversed','Challenger','IsMeasurement','IsInterception','IsFumble','IsPenalty','IsTwoPointConversion','IsTwoPointConversionSuccessful','RushDirection','YardLineFixed','YardLineDirection','IsPenaltyAccepted','PenaltyTeam','IsNoPlay','PenaltyType','PenaltyYards'])

In [27]:
one = one.dropna()
two = two.dropna()
three = three.dropna()
four = four.dropna()
five = five.dropna()
six = six.dropna()
seven = seven.dropna()

In [34]:
one.reset_index(drop=True, inplace=True)
two.reset_index(drop=True, inplace=True)
three.reset_index(drop=True, inplace=True)
four.reset_index(drop=True, inplace=True)
five.reset_index(drop=True, inplace=True)
six.reset_index(drop=True, inplace=True)
seven.reset_index(drop=True, inplace=True)

In [41]:
one['sucess'] = np.where(one['Yards']> one['ToGo'], 'yes' , 'no')
two['sucess'] = np.where(two['Yards']> two['ToGo'], 'yes' , 'no')
three['sucess'] = np.where(three['Yards']> three['ToGo'], 'yes' , 'no')
four['sucess'] = np.where(four['Yards']> four['ToGo'], 'yes' , 'no')
five['sucess'] = np.where(five['Yards']> five['ToGo'], 'yes' , 'no')
six['sucess'] = np.where(six['Yards']> six['ToGo'], 'yes' , 'no')
seven['sucess'] = np.where(seven['Yards']> seven['ToGo'], 'yes' , 'no')

In [46]:
frames = [one, two, three, four, five, six, seven]
data = pd.concat(frames)
data.reset_index(drop=True, inplace=True)

In [48]:
data

       OffenseTeam  Down  ToGo  YardLine  Yards  PlayType sucess
0              HOU     0     0        50    0.0  KICK OFF     no
1              WAS     1    10        20    0.0  QB KNEEL     no
2              MIN     2    13        17    0.0      PASS     no
3              CHI     1    10        19   -2.0      SACK     no
4              HOU     2    10        20   -9.0      SACK     no
...            ...   ...   ...       ...    ...       ...    ...
295017         HOU     4     1        79   21.0      RUSH    yes
295018         ARI     4     1        43    0.0      PUNT     no
295019         BAL     0     0        35    0.0  KICK OFF     no
295020          GB     0     0        35    0.0  KICK OFF     no
295021          GB     0     0        35    0.0  KICK OFF     no

[295022 rows x 7 columns]